<div class="container">
    <div class="header__body">

        <!-- Menu on motab -->
        <button class="header__menu">
            <img src="./assets/icon/menu.svg" alt="Header menu" class="header__menu-icon icon">
        </button>

        <!-- Logo -->
        <a href="#">
            <div class="header-logo">
                <img src="./assets/icon/logo.svg" alt="Logo" class="header-logo__img">
                <h1 class="header-logo__heading">grocerymart</h1>
            </div>
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Departments
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Grocery
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Beauty
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header__btns">
            <button class="header__search">
                <img src="./assets/icon/header-search.svg" alt="Header search" class="icon">
            </button>
            <div class="header__cta">
                <button class="header__btn">
                    <img src="./assets/icon/header-heart.svg" alt="Header heart" class="icon">
                    <span class="header-btn__title">03</span>
                </button>
                <div class="header__separate"></div>
                <button class="header__btn">
                    <img src="./assets/icon/header-cart.svg" alt="Header cart" class="icon">
                    <span class="header-btn__title">$65.42</span>
                </button>
            </div>
        </div>

        <img src="./assets/img/header-avatar.jpg" alt="Header avatar" class="header__avt">
    </div>
</div>