.checkout {
  &-container {
    margin-top: 30px;
  }

  &__breadscrumbs,
  &-content {
    background: var(--checkout-container-bg-color);
  }

  &-content {
    padding: 30px;

    &__list{
        margin-top: -30px;
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid var(--checkout-item-border-color);

    &__thumb {
      width: 172px;
      height: 172px;
      object-fit: contain;
    }

    &__content {
      flex: 1;
      display: flex;

      &-left {
        flex: 1;
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }
    }

    &__heading,
    &__desc {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.44444;
    }

    &__heading {
      max-width: 374px;
    }

    &__desc {
      margin: 16px 0;
      color: #9e9da8;

      &--color {
        color: #67b044;
      }
    }

    &__controls,
    &__control {
      display: flex;
      align-items: center;
    }

    &__controls {
      gap: 20px;
    }

    &__control {
      gap: 10px;
      border-radius: 10px;
      border: 1px solid var(--checkout-item-border-color);
      padding: 10px 20px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.47;
    }

    &__price {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.454545;
    }

    &__cta {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      min-height: 46px;
    }
  }
}
