.profile {
  margin-bottom: 42px;

  &-container {
    margin-top: 30px;
  }

  &-sidebar {
    padding-bottom: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }

  &-user {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    padding: 35px 0 20px;
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
      url(../img/profile/profile-user.png) no-repeat center / cover;
    color: #fff;

    &__avatar {
      width: 121px;
      height: 121px;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.2);
      object-fit: cover;
      background: #ccc;
      background-clip: content-box;
      box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    }

    &__name {
      margin-top: 15px;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.4444;
    }

    &__desc {
      margin-top: 6px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.47;
    }
  }

  &-menu {
    margin-top: 30px;
    padding: 0 30px;

    &__heading {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.4444;
    }

    &__list {
      margin-top: 6px;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 32px;
      padding: 0 6px;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.47;

      &:hover {
        background: #ebebeb;
        border-radius: 8px;
      }
    }

    &__icon-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 100%;
    }
  }
}
