html.dark {
  --theme-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(57deg) brightness(101%) contrast(102%);
  --header-bg-color: #171c28;
  --body-bg: #292E39;
  --btn-bg-color: #292e39;
  --header-separate-color: #ededf6;
  --btn-shadow: rgba(0, 0, 0, 0.2);
  --avt-shadow: rgba(0, 0, 0, 0.08);
}
