@use "../abstract";

html {
  --theme-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(10%) saturate(5575%) hue-rotate(217deg) brightness(101%)
    contrast(95%);
  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --btn-bg-color: #fff;
  --header-separate-color: #ededf6;
  --btn-shadow: rgba(237, 237, 246, 0.2);
  --avt-shadow: rgba(0, 0, 0, 0.08);

  @include abstract.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: #ededf633;
  }

  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

  // Menu
  --menu-border-color: #d2d1d6;

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow-color: #c8c8c866;

  // Cate-item
  --cate-item-bg: #EEEEEE;
  --cate-item-thumb-bg: #fff;
  --cate-item-color: #000;

  @include abstract.screen(md){
    --cate-item-bg: #fff;
  }

  // Buttons

  // Filter button
  --filter-btn-color: #6C6C72;
  --filter-btn-bg-color: #fff;

  // Like button
  --like-bg-color: #fff;

  // Product
  --product-bg-color: #fff;
  --product-shadow-color: #EDEDF633;

  // Filter form
  --filter-form-bg-color: #fff;
  --filter-form-shadow-color: rgba(200, 200, 200, 0.4);
  --filter-form-input-color: #1A162E;
}

.icon {
  filter: var(--icon-color);
}
