@use "../abstract";

%flexCenter {
  display: flex;
  align-items: center;
}

%btn {
  @extend %flexCenter;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  background: var(--btn-bg-color);
  box-shadow: 0px 20px 60px 10px var(--btn-shadow);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46667;
  font-weight: 600;
}

.header {
  background: var(--header-bg-color);
  padding: 30px 0;

  @include abstract.breakpoint("md"){
    padding: 16px 0;
  }

  @include abstract.breakpoint("lg"){
    padding: 22px 0;
  }

  &--sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__body {
    @extend %flexCenter;

    @include abstract.breakpoint("md") {
      justify-content: space-between;
    }

  }

  &__menu {
    display: none;
    @include abstract.breakpoint("lg") {
      display: block;
    }
  }

  &__btns {
    @extend %flexCenter;
    column-gap: 20px;
    margin-left: auto;
    margin-right: 20px;
    @include abstract.breakpoint("md"){
      display: none;
    }
  }

  &__search {
    @extend %btn;
    border-radius: 8px;

    @include abstract.breakpoint("md"){
      display: none;
    }
  }

  &__btn {
    @extend %btn;
    column-gap: 10px;
    padding: 0 20px;
  }

  &__cta {
    @extend %flexCenter;
    border-radius: 8px;
    overflow: hidden;
    background: var(--btn-bg-color);

    @include abstract.breakpoint("md"){
      display: none;
    }
  }

  &__separate {
    height: 30px;
    width: 1px;
    background: var(--header-separate-color);
  }

  &__avt {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 14px 2px var(--avt-shadow);
    cursor: pointer;
  }
}

.nav {
  margin-left: 144px;

  @include abstract.breakpoint("xl") {
    margin-left: 50px;
  }

  @include abstract.breakpoint("lg") {
    display: none;
  }

  &__list {
    @extend %flexCenter;
    column-gap: 30px;
  }

  &__link {
    @extend %flexCenter;
    column-gap: 6px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.466667;
  }
}
