@use "../abstract";

.form {
  width: 100%;
  &:has(:invalid) &__submit {
    opacity: 0.5;
    pointer-events: none;
  }

  &__group {
    margin-top: 30px;

    &:has(:invalid):has(input:not(:placeholder-shown)) {
      .form__input-wrap {
        border-color: red;
        background: rgba(red, 0.1);
      }

      .form__error,
      .form__input-error {
        display: block;
      }

      .form__input-icon {
        display: none;
      }
    }
  }

  &__input {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;

    &::placeholder {
      color: var(--form-input-color);
    }

    @include abstract.screen(sm) {
      font-size: 1.6rem;
    }

    &-wrap {
      display: flex;
      align-items: center;
      height: 50px;
      border-radius: 10px;
      border: 2px solid #d2d1d6;
      padding: 12px;

      &:focus-within {
        border: 2px solid #0071dc;
      }
    }

    &-icon,
    &-error {
      margin-left: 10px;
    }

    &-error {
      display: none;
      animation: shake 0.5s;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 2px solid #9e9da8;
    }

    &:has(:checked) {
      &::before {
        border-color: #ffb700;
        background: #ffb700;
      }

      &::after {
        top: 5px;
        left: 2px;
        width: 14px;
        height: 7px;
        border: 2px solid;
        border-color: transparent transparent #fff #fff;
        rotate: -45deg;
      }
    }

    &-label {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
      color: var(--form-color);
      margin-left: 29px;

      @include abstract.screen(sm) {
        font-size: 1.4rem;
      }
    }
  }

  &__link {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #0071dc;

    @include abstract.screen(sm) {
      font-size: 1.4rem;
    }
  }

  &__btns {
    margin-top: 50px;
  }

  &__btn {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;

    &.btn--not-margin {
      margin-top: 30px;
    }

    &-icon {
      margin-right: 10px;
    }
  }

  &__error {
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: red;
    text-align: left;
    display: none;
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.2rem;
  }

  &-select {
    display: flex;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    padding: 6px 0;

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 158px;
      padding: 0 14px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;

      @include abstract.screen(xl) {
        flex: 1;
      }

      &--short {
        width: 108px;
      }
    }

    &__separate {
      width: 1px;
      background: #d2d1d6;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px 20px;

    @include abstract.screen(sm) {
      column-gap: 7px;
    }
  }

  &__tag {
    padding: 6px 12px;
    border-radius: 6px;
    background: var(--filter-form-tag-bg-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: #9e9da8;
    transition: color 0.25s;

    &:hover {
      color: var(--theme-color);
    }
  }
}
