// Filter
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;

  height: 36px;
  width: 101px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--filter-btn-color);
  background: var(--filter-btn-bg-color);
}

// Like
.like{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px 6px #7C7C7C33;
  background: var(--like-bg-color);

  &:not(&--liked) &__icon--liked{
    display: none;
  }

  &--liked &__icon{
    display: none;
  }

}
