@use "../abstract";

// Header logo
.header-logo {
  display: flex;
  align-items: center;
  column-gap: 14px;

  @include abstract.screen("lg") {
    margin-left: 40px;
    column-gap: 10px;
  }

  @include abstract.screen("md") {
    margin-left: 0;
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.45455;

    @include abstract.screen("lg") {
      font-size: 1.8rem;
    }
  }

  &__img {
    @include abstract.screen("lg") {
      width: 24px;
    }
  }
}
