<div class="container">
    <div class="footer__row">
        <div class="footer__col">
            <!-- Logo -->
            <a href="#">
                <div class="logo footer__logo">
                    <img src="./assets/icon/logo.svg" alt="Logo" class="logo__img" />
                    <h1 class="logo__heading">grocerymart</h1>
                </div>
            </a>
            <p class="footer__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam
                eligendi rem voluptatibus.</p>
            <p class="footer__desc footer__desc--short">Receive product news and updates.</p>
            <form action="" class="footer-form">
                <div class="footer-form__wrap">
                    <input type="email" class="footer-form__input" placeholder="Email address" required
                        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                    <button class="footer-form__btn btn btn--primary">SEND</button>
                </div>
            </form>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">SHOP</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">All Departments</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Fashion Deals</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Electronics Discounts</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Home & Living Specials</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Beauty Bargains</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Store locator</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Order status</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">COMPANY</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Customer Service</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Terms of Use</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Careers</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Affiliates</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 class="footer__heading">CONTACT</h3>
            <p class="footer__label">Email</p>
            <a href="mailto: contact@grocerymart.com" class="footer__infor">contact@grocerymart.com</a>

            <p class="footer__label">Hotline</p>
            <a href="tel: 18008888" class="footer__infor">18008888</a>

            <p class="footer__label">Address</p>
            <p class="footer__infor">No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District,
                City. Hanoi</p>

            <p class="footer__label">Time</p>
            <time class="footer__infor">M - F 08:00am - 06:00pm</time>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        <div class="footer-socials">
            <button class="footer-social footer-social__facebook">
                <img src="./assets/icon/socials/facebook.svg" alt="facebook icon" class="footer-social__icon icon ">
            </button>
            <button class="footer-social footer-social__youtube">
                <img src="./assets/icon/socials/youtube.svg" alt="youtube icon" class="footer-social__icon ">
            </button>
            <button class="footer-social footer-social__tiktok">
                <img src="./assets/icon/socials/tiktok.svg" alt="tiktok icon" class="footer-social__icon ">
            </button>
            <button class="footer-social footer-social__twitter">
                <img src="./assets/icon/socials/twitter.svg" alt="twitter icon" class="footer-social__icon ">
            </button>
            <button class="footer-social footer-social__linkedin">
                <img src="./assets/icon/socials/linkedin.svg" alt="linkedin icon" class="footer-social__icon ">
            </button>
        </div>
    </div>
</div>