<div class="container">
    <div class="header__body">

        <!-- Menu on motab -->
        <button class="header__menu">
            <img src="./assets/icon/menu.svg" alt="Header menu" class="header__menu-icon icon">
        </button>

        <!-- Logo -->
        <a href="#">
            <div class="header-logo">
                <img src="./assets/icon/logo.svg" alt="Logo" class="header-logo__img">
                <h1 class="header-logo__heading">grocerymart</h1>
            </div>
        </a>

        <nav class="nav">
            <ul class="nav__list js-dropdown-list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Departments
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__body">
                            <div class="menu">
                                <div class="menu-main">
                                    <div class="menu-main__icon">
                                        <div class="menu-main__icon-bg"></div>
                                        <img src="./assets/icon/category/cate-1.1.svg" class="menu-main__icon-img"
                                            alt="">
                                    </div>
                                    <div class="menu-main__content">
                                        <h2 class="menu-main__heading">All Departments</h2>
                                        <ul class="menu-main__list">
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Savings & Featured Shops</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Electronics</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Clothing, Shoes & Accessories</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Home, Furniture & Appliances</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Toys & Video Games</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Home Improvement</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Baby</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Household Essentials</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Personal Care</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Patio & Garden</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Sports & Outdoors</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Gift Cards</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Auto, Tires and Industrial</a>
                                            </li>
                                            <li class="menu-main__item">
                                                <a href="#!" class="menu-main__link">Movies, Music & Books</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Grocery
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Beauty
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header__btns">
            <button class="header__search">
                <img src="./assets/icon/header-search.svg" alt="Header search" class="icon">
            </button>
            <div class="header__cta">
                <button class="header__btn">
                    <img src="./assets/icon/header-heart.svg" alt="Header heart" class="icon">
                    <span class="header-btn__title">03</span>
                </button>
                <div class="header__separate"></div>
                <button class="header__btn">
                    <img src="./assets/icon/header-cart.svg" alt="Header cart" class="icon">
                    <span class="header-btn__title">$65.42</span>
                </button>
            </div>
        </div>

        <img src="./assets/img/header-avatar.jpg" alt="Header avatar" class="header__avt">
    </div>
</div>