<div class="container">
    <div class="header__body">

        <!-- Menu on motab -->
        <button class="header__menu">
            <img src="./assets/icon/menu.svg" alt="Header menu" class="header__menu-icon icon">
        </button>

        <!-- Logo -->
        <a href="#">
            <div class="header-logo">
                <img src="./assets/icon/logo.svg" alt="Logo" class="header-logo__img">
                <h1 class="header-logo__heading">grocerymart</h1>
            </div>
        </a>

        <nav class="nav">
            <ul class="nav__list js-dropdown-list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Departments
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__body">
                            <div class="menu">
                                <div class="menu-main">
                                    <div class="menu-col">
                                        <div class="menu-col__icon">
                                            <img src="./assets/icon/category/cate-2.1.svg" class="menu-col__icon-symbol"
                                                alt="">
                                            <img src="./assets/icon/category/cate-2.2.svg" class="menu-col__icon-img"
                                                alt="">
                                        </div>
                                        <div class="menu-col__content">
                                            <h2 class="menu-col__heading">All Departments</h2>
                                            <ul class="menu-col__list">
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Savings & Featured Shops</a>
                                                    <div class="sub-menu">
                                                        <div class="sub-menu__col">
                                                            <div class="menu-col">
                                                                <div class="menu-col__icon">
                                                                    <img src="./assets/icon/category/cate-1.1.svg"
                                                                        class="menu-col__icon-symbol" alt="">
                                                                    <img src="./assets/icon/category/cate-1.2.svg"
                                                                        class="menu-col__icon-img" alt="">
                                                                </div>
                                                                <div class="menu-col__content">
                                                                    <h2 class="menu-col__heading">Fashion deal</h2>
                                                                    <ul class="menu-col__list">
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Clothing</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Shoes</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Accessories</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Bags</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Jelwery</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="menu-col">
                                                                <div class="menu-col__icon">
                                                                    <img src="./assets/icon/category/cate-5.1.svg"
                                                                        class="menu-col__icon-symbol" alt="">
                                                                    <img src="./assets/icon/category/cate-5.2.svg"
                                                                        class="menu-col__icon-img" alt="">
                                                                </div>
                                                                <div class="menu-col__content">
                                                                    <h2 class="menu-col__heading">Fashion deal</h2>
                                                                    <ul class="menu-col__list">
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Smartphones</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Laptops</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Headphones</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Cameras</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Tablets</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Speakers</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Wearable
                                                                                Tech</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sub-menu__col">
                                                            <div class="menu-col">
                                                                <div class="menu-col__icon">
                                                                    <img src="./assets/icon/category/cate-2.1.svg"
                                                                        class="menu-col__icon-symbol" alt="">
                                                                    <img src="./assets/icon/category/cate-2.2.svg"
                                                                        class="menu-col__icon-img" alt="">
                                                                </div>
                                                                <div class="menu-col__content">
                                                                    <h2 class="menu-col__heading">Electronics Discounts
                                                                    </h2>
                                                                    <ul class="menu-col__list">
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Furniture</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Kitchenware</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Decor</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Bedding</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Appliances</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Lighting</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Outdoor
                                                                                Furniture</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Home
                                                                                Office</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Bathroom</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Storage</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Cleaning
                                                                                Supplies </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="sub-menu__col">
                                                            <div class="menu-col">
                                                                <div class="menu-col__icon">
                                                                    <img src="./assets/icon/category/cate-3.1.svg"
                                                                        class="menu-col__icon-symbol" alt="">
                                                                    <img src="./assets/icon/category/cate-3.2.svg"
                                                                        class="menu-col__icon-img" alt="">
                                                                </div>
                                                                <div class="menu-col__content">
                                                                    <h2 class="menu-col__heading">Beauty Bargains</h2>
                                                                    <ul class="menu-col__list">
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Skincare</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Makeup</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Haircare</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Fragrances</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Nail
                                                                                Care</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Beauty
                                                                                Tools</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Men's
                                                                                Grooming</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="menu-col">
                                                                <div class="menu-col__icon">
                                                                    <img src="./assets/icon/category/cate-4.1.svg"
                                                                        class="menu-col__icon-symbol" alt="">
                                                                    <img src="./assets/icon/category/cate-4.2.svg"
                                                                        class="menu-col__icon-img" alt="">
                                                                </div>
                                                                <div class="menu-col__content">
                                                                    <h2 class="menu-col__heading">Sports & Outdoors
                                                                        Deals</h2>
                                                                    <ul class="menu-col__list">
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Skincare</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Fitness
                                                                                Equipment</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Outdoor
                                                                                Gear</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!"
                                                                                class="menu-col__link">Sportswear</a>
                                                                        </li>
                                                                        <li class="menu-col__item">
                                                                            <a href="#!" class="menu-col__link">Camping
                                                                            </a>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Biking</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Clothing, Shoes &
                                                        Accessories</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Home, Furniture & Appliances</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Toys & Video Games</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Home Improvement</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Baby</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Household Essentials</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Personal Care</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Patio & Garden</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Sports & Outdoors</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Gift Cards</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Auto, Tires and Industrial</a>
                                                </li>
                                                <li class="menu-col__item">
                                                    <a href="#!" class="menu-col__link">Movies, Music & Books</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Grocery
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">
                        Beauty
                        <img src="./assets/icon/nav-icon.svg" alt="" class="nav__icon icon">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="header__btns">
            <button class="header__search">
                <img src="./assets/icon/header-search.svg" alt="Header search" class="icon">
            </button>
            <div class="header__cta">
                <button class="header__btn">
                    <img src="./assets/icon/header-heart.svg" alt="Header heart" class="icon">
                    <span class="header-btn__title">03</span>
                </button>
                <div class="header__separate"></div>
                <button class="header__btn">
                    <img src="./assets/icon/header-cart.svg" alt="Header cart" class="icon">
                    <span class="header-btn__title">$65.42</span>
                </button>
            </div>
        </div>

        <img src="./assets/img/header-avatar.jpg" alt="Header avatar" class="header__avt">
    </div>
</div>