@use "../base";

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
  );
// @debug $breakpoints;

@mixin screen($key){
    $width: map-get($breakpoints, $key);
    @if $width {
        @media  screen and (max-width: ($width - 0.02)) {
            @content;
        }
    } @else{
        @error "The key is not valid in breakpoints list.";
    }
}